/* Coolors Exported Palette - coolors.co/102542-f87060-cdd7d6-acfdc7-ffffff */
* {
  margin: 0; }

body {
  background-color: #ebe1c8;
  font-family: "Ruda", sans-serif; }

#left_side {
  font-family: "Fredoka One", sans-serif;
  margin-top: -10px;
  padding-bottom: 10px;
  width: 30%;
  background-color: #102542;
  color: #d95141;
  float: left; }
  #left_side h1 {
    padding-top: 1rem;
    text-align: center;
    font-size: 5rem; }
  #left_side .form {
    max-width: 100%;
    color: #d95141;
    font-size: 1.5rem;
    margin: 0px;
    font-family: "Ruda", sans-serif;
    padding: 20px; }
  #left_side .content {
    margin: 0px; }
  #left_side .form label {
    color: #d95141;
    display: block; }
  #left_side .form div {
    display: block; }
  #left_side .form input {
    border-width: 1px;
    border-style: solid;
    border-color: #666666;
    border-radius: 0px;
    padding: 3px;
    width: 100%; }
  #left_side .form h2 {
    text-align: center;
    font-family: "Fredoka One", sans-serif;
    font-size: 40px;
    color: #d95141;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px; }
  #left_side .form button {
    display: block;
    margin: 0 auto;
    width: 50%;
    background-color: #102542;
    color: #d95141;
    font-family: "Ruda", sans-serif;
    font-size: 2rem;
    border: none;
    border-bottom: #d95141 solid 2px; }
  #left_side .form button:hover {
    background-color: #d95141;
    color: #102542; }
  #left_side .field {
    margin-bottom: 5px; }
  #left_side .form input {
    padding: 15px;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 0 10px 0; }
  #left_side input:focus {
    outline: none;
    outline: #d95141 solid 2px; }
  #left_side button:focus {
    outline: none; }
  #left_side .ui-slider {
    margin: 1rem 0; }

#content_wrapper {
  background-color: #ebe1c8;
  width: 70%;
  float: left;
  height: 100%; }

#viz_wrapper {
  height: 300px;
  margin: 3%;
  display: block;
  width: 94%;
  background-color: #cdd7d6;
  overflow-x: scroll;
  white-space: nowrap; }
  #viz_wrapper #nav {
    display: flex; }
    #viz_wrapper #nav .nav_item {
      padding: 0.5rem;
      margin: 0.5rem auto;
      border-bottom: #102542 solid 1px;
      width: 20%;
      text-align: center; }
    #viz_wrapper #nav .nav_item:hover {
      background-color: #102542;
      color: #cdd7d6;
      border-bottom: #102542 solid 1px; }
  #viz_wrapper .item {
    background-color: white;
    width: 25%;
    margin: 1%;
    float: left; }

.data_wrapper {
  float: right;
  margin-right: 3%;
  min-height: 500px;
  padding: 10px;
  width: 44%;
  background-color: #99cc66;
  color: #69a426; }
  .data_wrapper .column_title_div {
    width: 100%;
    margin-bottom: 1rem; }
  .data_wrapper .content {
    border-bottom: #69a426 solid 1px;
    margin-bottom: 1rem; }
    .data_wrapper .content h2 {
      text-align: left;
      line-height: 3rem; }
  .data_wrapper h2 {
    display: inline;
    text-align: center; }
  .data_wrapper img {
    display: inline;
    float: left;
    margin: 0 10px 10px 0; }
  .data_wrapper p {
    clear: both;
    margin-bottom: 1rem; }

.tweet_wrapper {
  background-color: #99cc66; }
  .tweet_wrapper .column_title_div, .tweet_wrapper .content {
    border-bottom: #69a426 solid 1px; }

.trades {
  background-color: #f7f2e8;
  color: #b1aea8; }
  .trades .column_title_div, .trades .content {
    border-bottom: #b1aea8 solid 1px;
    color: #b1aea8; }

.test {
  width: 200px;
  height: 100px;
  box-shadow: 0 1px 20px #aaa;
  text-align: center;
  background-color: #69a426;
  font-size: 10px;
  margin: 5px;
  float: left; }

/*# sourceMappingURL=main.css.map */
