
$title-font:   'Fredoka One', sans-serif;
$body-font: 'Ruda', sans-serif;

/* Coolors Exported Palette - coolors.co/102542-f87060-cdd7d6-acfdc7-ffffff */
$navy: #102542; //rgba(16, 37, 66, 100)
$red: #d95141; //rgba(248, 112, 96, 100)
$blue: #cdd7d6; //rgba(205, 215, 214, 100)
$green: #99cc66; //rgba(172, 253, 199, 100)
$light-green: #99cc66;
$green: #69a426;
$tan: #ebe1c8; //rgba(255, 255, 255, 100)
$light-grey: #f7f2e8;
$dark-grey: #b1aea8;

*{
	margin: 0;
}

body{
	background-color: $tan;
	font-family: $body-font;
}

// USER UI AREA /////////////////////////////////////////////////////////////////////////////////

#left_side{
	font-family: $title-font;
	margin-top: -10px;
	padding-bottom: 10px;
	min-width: 30%;
	background-color: $navy;
	color: $red;
	float: left;
	height: 250%;
	
	h1{	
		padding-top: 2rem;
		text-align: center;
		font-size: 5rem;
	}

	h2{
		margin-left: 1rem;
		font-size: 40px;
		text-align: center;
		font-family: $title-font;
		 
		color: $red; 
		padding: 0px; 
		margin: 0px; 
		margin-bottom: 10px; 
	}

	.form{ 
		max-width: 100%; 
		color: $red;
		font-size: 1.5rem; 
		margin: 0px; 
		font-family: $body-font;
		padding: 20px; 
	} 

	#input_ui .form h2{
		margin: 1rem 0;
	}
	.content{ 
		margin: 0px; 
	} 
	.form label{ 
		color: $red; 
		 
		display: block; 
	} 
	.form div{ 
		display: block; 
	} 
	.form input { 
		border-width: 1px; 
		border-style: solid; 
		border-color: #666666; 
		border-radius: 0px; 
		padding: 3px; 
		width: 100%; 
	} 
	
	
	.form button{ 
		display: block;
		margin: 0 auto;
		width: 50%;
		background-color: $navy; 
		color: $red; 
		font-family: $body-font;
		font-size: 2rem;
		border: none;
		border-bottom: $red solid 2px;
	} 

	.form button:hover{
		background-color: $red;
		color: $navy;
	}

	.field{ 
		margin-bottom: 5px; 
	} 

	.form input {
		padding: 15px;
		background: rgba(255,255,255,0.5);
		margin: 0 0 10px 0;
	}

	input:focus { 
		outline: none; 
		outline: $red solid 2px;
	}

	button:focus{
		outline:none;
	}

	.ui-slider{
		    margin: 1rem 0;
	}

	#logout{
		margin: 2rem 1rem 0 1rem;
		border-top: $red solid 1px;
		
	}

	.twobuttons{
		text-align: center;
		button{
			width: 40%;
			display: inline-block;
			margin-left: 2px;
		}
	}

	#input_ui{

		p{
			color: $red;
		font-size: 1.5rem; 
		margin: 0px; 
		font-family: $body-font;
		padding-left: 20px; 
		}

		h2{
			text-align: left;
			margin: 1rem;
		}
	}
}

// MAIN CONTENT ////////////////////////////////////////////////////////////////////////
#content_wrapper{
	background-color: $tan;
	width: 70%;
	float: left;
	height: 100%;
}

#nav{
	display: flex;
	width: 94%;
	margin: 0 3%;
	background-color: $blue;
	
	.nav_item{
		padding: 0.5rem;
		margin: 0.5rem auto;
		border-bottom: $navy solid 1px;
		width: 20%;
		text-align: center;
	}

	.nav_item:hover{
		background-color: $navy;
		color: $blue;
		border-bottom: $navy solid 1px;
	}
}

#viz_wrapper{
	height: 300px;
	margin: 0 3% 3% 3%;
	display: f;
	width: 94%;
	background-color: $blue;


	// overflow-y: hidden;
	overflow-x: scroll;
	overflow-x:scroll;
	white-space: nowrap;
	
	#container{
		width: 90%;
		
		//height:200px; 
		// background-color:blue; 
		white-space: nowrap; 
		display: flex;

		.item{
			flex-shrink: 0;
			//background-color: white;
			color: $navy;
			width: 25%;
			margin: 1%;
			float: left;

			h3, p{
				margin: 0.7rem;
			}

			h3{
				text-align: center;
			}

			a{
				text-decoration: none;
				color: $navy;
			}

			a:hover{
				color: $red;
			}
		}
	}
}

// FEEDS
.data_wrapper {
	float: right;
	margin-right: 3%;

	min-height: 500px;
	padding: 10px;
	width: 44%;
	background-color: $light-green;
	color: $green;
	
	.column_title_div{
		width: 100%;
		// border-bottom: $green solid 1px;
		margin-bottom: 1rem;
	}
	
	.content {
		border-bottom: $green solid 1px;
		margin-bottom: 1rem;

		h2{
			text-align: left;
			line-height: 3rem;
		}
	}

	h2{
		display: inline;
		text-align: center;
	}

	img{
		display: inline;
    	float: left;
    	margin: 0 10px 10px 0;
	}
	
	p{
		clear: both;
		margin-bottom: 1rem;
	}

}

.tweet_wrapper{
	background-color: $light-green;

	.column_title_div, .content{
		border-bottom: $green solid 1px;
	}
}

.trade_wrapper{
	background-color: $light-grey;
	color: $dark-grey;

	.column_title_div, .content{
		border-bottom: $dark-grey solid 1px;
		color: $dark-grey;
	}

}

//this is the user test
.test {
	width: 200px; height: 100px;
	box-shadow:0 1px 20px #aaa;
	
	text-align: center;
	background-color: $green;
	font-size: 10px;
	margin: 5px;

	float: left;
}