$navy: #102542; //rgba(16, 37, 66, 100)

#marquee{

	width: 100%;
	
	white-space: nowrap;
    overflow: hidden;

	font-size: 3rem;
	color: $navy;

	li{
		margin: 1rem;
		display: inline-block;
	}
}


	